{% extends 'base.html' %}
{% block table %}
{% block todoitem %}{% endblock %}
  <form method="POST">
        {% csrf_token %}
        <h3> Please use the form to change your password</h3>
        {{ form.as_p }}
        <input type="submit" value="Change Password">
    </form>

{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1> Password Change</h1>-->
<!--  <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        <h3> Please use the form to change your password</h3>-->
<!--        {{ form.as_p }}-->
<!--        <input type="submit" value="Change Password">-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->