<html>
<head>
<title>To-Do</title>
</head>
<body>
{% if user.is_authenticated %}
    <h1>{% block header_text %}{% endblock %}</h1>
    <div>
          <small> <a href="{% url 'password_change' %}">change password</a> </small>
          <small> <a href="{% url 'profile' %}">profile</a> </small>
            <small> <a href="{% url 'logout' %}">logout</a> </small>

    </div>
    {% block imageblock %} {% endblock %}
    <form method="POST" action="{%block action_path%} {% endblock %}">
    {% csrf_token %}
    <input id="id_new_item" name='item_text' placeholder="Enter a todo item here">
    </form>
    {% block table %}
    {% endblock %}
{% else %}
   <h1> Please login to create your list</h1>
   <p>Already have an account with us <a href="{% url 'login' %}">Login</a> </p>
    <p> New user? <a href="{% url 'register' %}">Register here</a> </p>
{% endif %}

</body>
</html>